
<img src="http://jennstrends.com/wp-content/uploads/2013/10/bad-profile-pic-2.jpeg" style="height:60px;width:60px;">
<%= current_user.firstname %><%= current_user.lastname %>
<br>
username: <%= current_user.username %>
<br>
email: <%= current_user.email %>
<br>
<br>
<br>
<h1>POSTS:</h1>
<br>

<% @user_posts.reverse.each do |p| %>

<h3> <%= p.user.username %> </h3>
<h3> <%= p.title %> </h3>
<p> <%= p.textfield %> </p>

<% end %>
